:root {
  --bg:#05070d;
  --panel:#0f1629;
  --gold:#6ae0d4;
  --cyan:#00e5ff;
  --text:#e6e9f0;
  --muted:#8b92b2;
}

*{box-sizing:border-box}

body{
  margin:0;
  background-image: url(/images/Gemini_Generated_Image_bu31hlbu31hlbu31.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color:var(--text);
  font-family:system-ui;
}

/* TOP */
.topbar{
  position:fixed;
  top:0;
  width:100%;
  display:flex;
  justify-content:space-between;
  padding:1rem 1.5rem;
  background:linear-gradient(#0f1629,#05070d);
  z-index:10;
}

.logo{
  letter-spacing:.3em;
  color:var(--gold);
  font-weight:600;
}
.logo a{
  color:var(--gold);
  text-decoration:none;
  transition: ease color .3s;
}
.logo a:hover{
   color: #1bd3a8;
}
.primary{
  margin:5.5rem auto 1rem;
  display:block;
  padding:.7rem 1.2rem;
  background:var(--gold);
  color:#05070d;
  border:none;
  border-radius:10px;
  cursor:pointer;
}

/* MAP */
.map-wrapper{
  width:90%;
  max-width:1100px;
  height:65vh;
  margin:0 auto;
  border-radius:18px;
  overflow:hidden;
  border:1px solid rgba(0,217,255,.35);
  box-shadow:0 0 40px rgba(0,217,255,.25);
}

#map{width:100%;height:100%}

.leaflet-tile{
  filter:brightness(1) contrast(1.1);
}

/* MODAL */
.modal{
  position:fixed;
  inset:0;
  background:rgba(5,7,13,.85);
  backdrop-filter:blur(6px);
  display:grid;
  place-items:center;
  z-index:20;
}

.hidden{display:none}

.card{
  background:linear-gradient(#0f1629,#0a1020);
  border:1px solid rgba(224,195,106,.4);
  border-radius:16px;
  padding:1.8rem;
  width:90%;
  max-width:420px;
}

.card input,.card textarea{
  width:100%;
  margin-top:.8rem;
  padding:.7rem;
  background:#05070d;
  border:1px solid #2a3250;
  color:white;
  border-radius:10px;
}

.card button{
  width:100%;
  margin-top:.8rem;
  padding:.7rem;
  border:none;
  border-radius:10px;
  background:var(--gold);
  cursor:pointer;
}

.secondary{
  background:transparent;
  color:var(--muted);
  border:1px solid #2a3250;
}

.timer{margin-top:.6rem;color:var(--muted)}
